.catalog {
  width: 100%;
  .container {
    @media (max-width: 1036px) {
      max-width: 850px;
    }
  }
  &__tabs {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 69px;
    @media (max-width: 509px) {
      margin-top: 59px;
    }
  }

  &__tabsItem {
    width: 220px;
    height: 50px;
    border: 2px solid #d0d0d0;
    color: #6b6b6b;
    font-size: 18px;
    text-transform: uppercase;
    text-align: center;
    line-height: 50px;
    margin: 0px 5px;
    transform: skewX(-25deg);
    @media (max-width: 659px) {
      margin: 10px 10px;
    }
    cursor: pointer;
    > div {
      transform: skewX(25deg);
    }
    &--active {
      background-color: #c70101;
      color: #ffffff;
      border-color: transparent;
    }
  }
}
