.review {
  color: #0d0d0d;
  display: flex;
  @media (max-width: 767px) {
    flex-direction: column;
  }
  &__img {
    flex: 0 0 169px;
  }
  &--mg-bt {
    margin-bottom: 100px;
    @media (max-width: 767px) {
      margin-bottom: 70px;
    }
  }

  &__content {
    flex: 1 1 auto;
    padding-left: 61px;
    @media (max-width: 767px) {
      padding-left: 31px;
    }
    @media (max-width: 767px) {
      padding-left: 0px;
      margin: 40px 0px 0px 0px;
    }
    h4 {
      font-size: 18px;
      color: #0d0d0d;
    }
  }

  &__signature {
    font-size: 14px;
    color: #646464;
    margin: 10px 0px 15px 0px;
    display: block;
  }

  &__paragraph {
    font-size: 16px;
    font-weight: 300;
    margin-bottom: 24px;
  }

  &__goals {
    font-weight: 300;
    margin: 0px 0px 20px 0px;
  }

  &__thanks {
    font-weight: 300;
  }
}
