.slider {
  padding: 108px 0px;
  &__inner {
    max-width: 750px;
    margin: 0px auto;
    position: relative;
    .slick-prev,
    .slick-next {
      background-color: transparent;
      border: none;
      img {
        width: 31px;
        &:hover {
          cursor: pointer;
        }
      }
    }

    .slick-prev {
      position: absolute;
      top: 50%;
      left: -66px;
    }

    .slick-next {
      position: absolute;
      top: 50%;
      right: -66px;
    }
  }
}
